# Streamlabs Connection
STREAMLABS_SOCKET_TOKEN=yJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbiI6IjA5NjM4MzBFQzkwREY1QzVEQkI0MjY5OUNGNUFDOEYzNzI3N0Q3NkJDODY5QTNBRjc3RTg3QThDOTk3RDY2NTk2NjA2MDI3RDExRUMzRkJFQjFCMEU4MDJGNDQ1OTdDQ0ZDRTk4NjUwODVDREQzRDhERTc4MTMxRTM5OTkwRTA4NTVGMzkzMjU2OTEyNzkxRDUyMjA0MjBBMTVGNzA0OTZGN0EyMjc0RjgzRTVBNjFGN0M3MjgxMTY3NjZERDZFNTAxNjMwMjM0N0FFODM2OUI3M0VCOTdCNzM3RTg2QzRGNkZFQkExRDgyNTQ5MzU5QTUxQzNENzQ0MEMiLCJyZWFkX29ubHkiOnRydWUsInByZXZlbnRfbWFzdGVyIjp0cnVlLCJ5b3V0dWJlX2lkIjoiVUNDczJrWnpxTks0cUFwM3dFQVk0aW5nIn0.rhL87TqpQfH6Mgmwm27zzAIxcO309YkswApy2rolAfg

# YouTube API Credentials
YOUTUBE_CLIENT_SECRET_PATH=client_secret.json
YOUTUBE_TOKEN_PATH=storage/token.json

# Streamer Configuration
# The YouTube Channel ID of the STREAMER (not the bot, unless they are the same)
# Find it at: https://www.youtube.com/account_advanced
STREAMER_CHANNEL_ID=UCCs2kZzqNK4qAp3wEAY4ing

# Nvidia APIs
NVIDIA_API_KEY=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
NVIDIA_MODEL_ID=google/gemma-3-4b-it
# Bot Configuration
BOT_NAME=AxiBot
